<!--
  Entered.vue
  Tells the user they are entered into the secret santa
  -->
<template>
  <div class="tile is-child box">
    <h1 class="title">You are entered!</h1>
    <p>Now just wait for Secret Santa to begin!</p>

    <div class="has-text-centered">
      <img src="@/assets/yay.gif"/>
    </div>
  </div>
</template>

<script>
export default {
  name: "Entered"
};
</script>