<!--
  EntryForm.vue
  A form for people to enter the secret santa
  -->
<template>
  <div class="tile is-child box">
    <h1 class="title">Enter Secret Santa 2020!</h1>
    <p>Enter your hints below to enter the secret santa!</p>

    <b-field label="Hint 1">
      <b-input type="text" v-model="hint1" placeholder="E.g. Cats" required/>
    </b-field>
    <b-field label="Hint 2">
      <b-input type="text" v-model="hint2" placeholder="E.g. Chocolate" required/>
    </b-field>
    <b-field label="Hint 3">
      <b-input type="text" v-model="hint3" placeholder="E.g. Sheds" required/>
    </b-field>
    <b-field label="Notes">
      <b-input type="textarea" v-model="notes" maxlength="100"/>
    </b-field>

    <b-button type="is-info" @click="next" :disabled="hint1 === '' || hint2 === '' || hint3 === ''" expanded>
      Next <span v-if="group.require_address"> & Enter Address</span>
    </b-button>
  </div>
</template>

<script>
import AddAddressVue from '@/components/Santa/Modal/AddAddress.vue';

export default {
  name: "EntryForm",

  props: {
    group: {
      type: Object,
      default: () => {
        return {}
      }
    }
  },

  data() {
    return {
      hint1: '',
      hint2: '',
      hint3: '',
      notes: ''
    }
  },

  methods: {
    next() {
      if (this.group.require_address) {
        let _this = this;
      this.$buefy.modal.open({
        parent: this,
        component: AddAddressVue,
        hasModalCard: true,
        events: {
          submit(data) {
            _this.$http.post(`user/address`, {
              addressLine1: data.addressLine1,
              addressLine2: data.addressLine2,
              city: data.city,
              postcode: data.postcode
            }).then(response => {
              if (response.data.status === "success") {
                _this.$http.post(`group/${_this.group.id}/enter`, {
                  hint1: _this.hint1,
                  hint2: _this.hint2,
                  hint3: _this.hint3,
                  notes: _this.notes
                }).then(response => {
                  _this.$emit('response', response.data.status === 'success');
                });
              }
            });
          }
        }
      });
      }
      else {
        this.$http.post(`group/${this.group.id}/enter`, {
          hint1: this.hint1,
          hint2: this.hint2,
          hint3: this.hint3,
          notes: this.notes
        }).then(response => {
          this.$emit('response', response.data.status === 'success');
        });
      }
    }
  }
};
</script>