<template>
  <div class="tile is-parent" v-if="Object.keys(partner).length > 0">
    <div class="tile is-child box">
      <p class="title">{{ title }}</p>
      <p class="subtitle is-size-6 has-text-grey-light">{{ subtitle }}</p>
      <b-field>
        <b-input type="textarea" maxlength="500" v-model="message" />
      </b-field>
      <b-field>
        <b-button type="is-info" @click="sendMessage" expanded>Send</b-button>
      </b-field>

      <br>
      <article class="media" v-for="message in messages" :key="message.id">
        <figure class="media-left">
          <p class="image is-64x64">
            <img src="https://bulma.io/images/placeholders/128x128.png">
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>{{ message.person }}</strong> <small>{{ message.date }}</small>
              <br>
              {{ message.message }}
            </p>
          </div>
        </div>
      </article>
    </div>
  </div>
</template>

<script>
export default {
  name: "Messages",

  props: {
    title: {
      type: String,
      default: () => ''
    },
    subtitle: {
      type: String,
      default: () => ''
    },
    partner: {
      type: Object
    },

    value: {
      type: Array
    },

    toSanta: {
      type: Boolean,
      default: () => false
    }
  },

  data() {
    return {
      messages: [ ],

      message: ''
    }
  },

  mounted() {
    this.messages = this.value;
  },

  methods: {
    sendMessage() {
      let url = '';
      if (this.toSanta) {
        url = 'entry/message-to-santa';
      }
      else {
        url = `entry/${this.partner.id}/message`;
      }

      this.$http.post(url, {message: this.message}).then(response => {
        let isSuccess = response.data.status === 'success';
        this.$buefy.toast.open({
          message: response.data.message,
          type: isSuccess ? 'is-success' : 'is-danger'
        });

        if (isSuccess) {
          this.messages.unshift(response.data.data);
          this.$emit('input', this.messages);
          this.message = '';
        }
      });
    }
  }
}
</script>

<style scoped>

</style>