<template>
  <div class="tile is-child box">
    <h1 class="title">You're the Secret Santa for...</h1>
    <hr/>
    <h2 class="subtitle">
      {{ partner.user.name }}
    </h2>
    <p><b>Hint 1:</b> {{ partner.hint1 }}</p>
    <p><b>Hint 2:</b> {{ partner.hint2 }}</p>
    <p><b>Hint 3:</b> {{ partner.hint3 }}</p>
    <p><b>Notes:</b> {{ partner.notes }}</p>

    <div v-if="group.require_address">
      <h3>Address</h3>
      <b-collapse :open="false" position="is-bottom">
        <a slot="trigger" slot-scope="props">
          <b-icon :icon="!props.open ? 'menu-down' : 'menu-up'" />
          {{ !props.open ? 'View Address' : 'Hide Address' }}
        </a>
        <div class="is-info">
          <p>{{ partner.user.name }}</p>
          <p>{{ partner.user.address.addressLine1 }}</p>
          <p>{{ partner.user.address.addressLine2 }}</p>
          <p>{{ partner.user.address.city }}</p>
          <p>{{ partner.user.address.postcode }}</p>
        </div>
      </b-collapse>
    </div>
  </div>
</template>

<script>
export default {
  name: "UnluckyPerson",

  props: {
    partner: {
      type: Object
    },

    group: {
      type: Object,
      default: () => {
        return {}
      }
    }
  }
}
</script>

<style scoped>

</style>