<!--
  Home.vue
  The main home page
  -->
<template>
  <section class="section">
    <div class="content">
      <div class="columns">
        <div class="column is-3"></div>

        <div class="column">
          <div class="tile is-ancestor">
            <div class="tile is-vertical">
              <div class="tile is-parent">
                <div class="tile is-child box">
                  <h1 class="title">Secret Santa</h1>
                  <p>Blah blah blah</p>
                  <p>Already joined a group? <a @click="showLogin" class="button is-small is-primary">Login</a>.</p>
                </div>
              </div>
              <div class="tile is-horizontal">
                <div class="tile is-parent">
                  <div class="tile is-child box">
                    <p class="title">Create a Group</p>
                    <p class="subtitle">Start a Secret Santa for your group!</p>

                    <b-field>
                      <b-input v-model="groupName" placeholder="Your group name e.g. Secret Santa 2020!"/>
                    </b-field>
                    <b-button type="is-success" @click="createGroup" expanded>Create</b-button>
                  </div>
                </div>
                <div class="tile is-parent">
                  <div class="tile is-child box">
                    <p class="title">Join a Group</p>
                    <p class="subtitle">Got a group code? Join in!</p>
                    <b-field>
                      <b-input v-model="joinCode"/>
                    </b-field>
                    <b-button type="is-info" @click="join" expanded>Join</b-button>
                  </div>
                </div>
              </div>
              <!-- <div class="tile is-parent">
                <div class="tile is-child box">
                  <<p class="title">Source</p>
                  <b-field grouped>
                    <b-field expanded>
                      <a href="https://bitbucket.org/antony-lloyd/santa-ui/src/master/" target="_blank">
                        <b-button icon-pack="fab" icon-left="bitbucket" type="is-primary" expanded>UI</b-button>
                      </a>
                    </b-field>
                    <b-field expanded>
                      <a href="https://bitbucket.org/antony-lloyd/santa-api/src/master/" target="_blank">
                        <b-button icon-pack="fab" icon-left="bitbucket" type="is-primary" expanded>API</b-button>
                      </a>
                    </b-field>
                  </b-field>
                </div>
              </div> -->
            </div>
          </div>
        </div>

        <div class="column is-3"></div>
      </div>
    </div>
  </section>
</template>

<script>
import JoinGroup from "../components/Home/Modal/JoinGroup.vue";
import EventBus from "@/js/EventBus";

export default {
  name: "Home",

  data() {
    return {
      groupName: '',
      joinCode: ''
    }
  },

  methods: {
    showJoinGroup() {
      return new Promise((resolve, reject) => {
        this.$buefy.modal.open({
          parent: this,
          component: JoinGroup,
          hasModalCard: true,
          onCancel: reject,
          events: {
            submit(data) {
              resolve(data);
            }
          }
        });
      });
    },

    createGroup() {
      this.showJoinGroup().then(data => {
        this.$http.post('group', {
          name: this.groupName,
          user_name: data.name,
          email: data.email,
          password: data.password
        });
      });
    },

    join() {
      this.showJoinGroup().then(data => {
        this.$http.post('group/join', {
          code: this.joinCode,
          name: data.name,
          email: data.email,
          password: data.password
        }).then(response => {
          if (response.data.status === "success") {
            this.$buefy.toast.open({
              type: 'is-success',
              message: "Joined group. You may now login"
            })
          }
        });
      });
    },

    showLogin() {
      EventBus.$emit('show-login');
    }
  },
};
</script>
