<!--
  Santa.vue
  The page to enter & view secret santa
  -->
<template>
  <section class="section">
    <div class="content">
      <div class="columns">
        <div class="column is-3"></div>

        <div class="column">
          <div class="tile is-ancestor">
            <div class="tile is-vertical">
              <div class="tile is-parent">
                <div class="tile is-child box">
                  <div class="level">
                    <div class="level-left">
                      <div class="level-item">
                        <h1 class="title">{{ group.name }}</h1>
                      </div>
                      <div class="level-item" v-if="group.is_owner">
                        <b-button type="is-primary" icon-left="cog" @click="showSettings">Settings</b-button>
                      </div>
                      <div class="level-item" v-if="group.is_owner">
                        <b-button type="is-info" icon-left="cog" @click="showEntries">View Entries</b-button>
                      </div>
                    </div>
                  </div>
                  <p><b>Group code: </b> {{ group.code }}</p>
                  <hr/>
                  <p>{{ group.description }}</p>
                </div>
              </div>

              <div class="tile is-parent">
                <unlucky-person v-if="Object.keys(partner).length > 0" :partner="partner" :group="group" />

                <entry-form :group="group" @response="entered => enteredAfterCreate = entered"
                            v-else-if="!group.entered && !enteredAfterCreate"/>
                <entered v-else/>
              </div>

              <messages v-if="Object.keys(partner).length > 0" :partner="partner" v-model="messagesFor" :title="'Messages with ' + partner.user.name"
                subtitle="(Who you are buying for)" />
              <messages v-if="Object.keys(partner).length > 0" :partner="partner" v-model="messagesFromSanta" title="Messages with your Santa" :to-santa="true"
                subtitle="(Who is buying for you) " />

            </div>
          </div>
        </div>

        <div class="column is-3"></div>
      </div>
    </div>
  </section>
</template>

<script>
import SettingsVue from '../components/Santa/Modal/Settings.vue';
import Entered from '../components/Santa/Entered.vue';
import EntryForm from '../components/Santa/EntryForm.vue';
import Entries from "@/components/Santa/Modal/Entries";
import UnluckyPerson from "@/components/Santa/UnluckyPerson";
import Messages from "@/components/Santa/Messages";

export default {
  components: {Messages, UnluckyPerson, EntryForm, Entered},
  name: "Santa",

  data() {
    return {
      group: {},
      user: {},

      enteredAfterCreate: false,
      partner: { },
      messagesFor: [ ],
      messagesFromSanta: [ ]
    }
  },

  mounted() {
    this.$http.get('user/groups').then(response => {
      this.group = response.data.data;
      // If user in more than one group, handle it
      this.group = this.group[0];

      // Fetch the users partner they are Santa for
      this.$http.get(`group/${this.group.id}/partner`).then(response => {
        if (response.data.data.length > 0) {
          this.partner = response.data.data[0];

          // Load any messages
          this.$http.get(`entry/${this.partner.id}/message`).then(response => {
            if (response.data.status === 'success') {
              for (let message of response.data.data) {
                this.messagesFor.push(message);
              }
            }
          });

          this.$http.get(`user/messages`).then(response => {
            if (response.data.status === 'success') {
              for (let message of response.data.data) {
                this.messagesFromSanta.push(message);
              }
            }
          });
        }
      });
    });
  },

  methods: {
    showSettings() {
      this.$buefy.modal.open({
        parent: this,
        component: SettingsVue,
        hasModalCard: true,
        props: {
          group: this.group
        }
      });
    },

    showEntries() {
      this.$http.get(`group/${this.group.id}/people`).then(response => {
        this.$buefy.modal.open({
          parent: this,
          component: Entries,
          hasModalCard: true,
          props: {
            entries: response.data.data
          }
        });
      });
    }
  }
};
</script>