<!--
  AddAddress.vue
  Modal for entering user address info
  -->
<template>
  <div class="modal-card" style="min-width: 250px">
    <header class="modal-card-head">
      <p class="modal-card-title">Add your address</p>
    </header>
    <section class="modal-card-body">
      <b-message type="is-info">The organiser of your group has requested that you provide your address for your Secret
        Santa to be shipped to you.
      </b-message>
      <b-field label="Your Name">
        <b-input type="text" :placeholder="$store.state.user.name" required disabled/>
      </b-field>
      <b-field label="Address Line 1">
        <b-input type="text" v-model="addressLine1" required/>
      </b-field>
      <b-field label="Address Line 2">
        <b-input type="text" v-model="addressLine2"/>
      </b-field>
      <b-field label="City">
        <b-input type="text" v-model="city" required/>
      </b-field>
      <b-field label="Post code">
        <b-input type="text" v-model="postcode" required/>
      </b-field>
    </section>
    <footer class="modal-card-foot">
      <button class="button" type="button" @click="$parent.close()">Close</button>
      <button class="button is-success" @click="submit">Enter!</button>
    </footer>
  </div>
</template>

<script>
export default {
  name: "AddAddress",

  data() {
    return {
      addressLine1: '',
      addressLine2: '',
      city: '',
      postcode: ''
    }
  },

  methods: {
    submit() {
      this.$emit('submit', {
        addressLine1: this.addressLine1,
        addressLine2: this.addressLine2,
        city: this.city,
        postcode: this.postcode
      });
      this.$parent.close();
    }
  }
};
</script>
