<!--
  Entries.vue
  Modal for displaying the people entered into the group
  -->
<template>
  <div class="modal-card" style="min-width: 250px">
    <header class="modal-card-head">
      <p class="modal-card-title">Add your address</p>
    </header>
    <section class="modal-card-body">
      <b-table :data="entries">
        <b-table-column field="name" label="Name" v-slot="props">{{ props.row.user.name }}</b-table-column>
        <b-table-column field="hint1" label="Hint 1" v-slot="props">{{ props.row.hint1 }}</b-table-column>
        <b-table-column field="hint2" label="Hint 2" v-slot="props">{{ props.row.hint2 }}</b-table-column>
        <b-table-column field="hint3" label="Hint 3" v-slot="props">{{ props.row.hint3 }}</b-table-column>
        <b-table-column field="notes" label="Notes" v-slot="props">{{ props.row.notes }}</b-table-column>
        <b-table-column field="reset" label="Reset Entry" v-slot="props">
          <b-button size="is-small" type="is-danger" @click="reset(props.row.id)">Reset</b-button>
        </b-table-column>
      </b-table>
    </section>
    <footer class="modal-card-foot">
      <button class="button" type="button" @click="$parent.close()">Close</button>
    </footer>
  </div>
</template>

<script>
export default {
  name: "Entries",

  props: {
    entries: {
      type: Object,
      default: () => { return { } }
    }
  },

  data() {
    return {

    }
  },

  methods: {
    reset(entryId) {
      this.$http.get(`group/${this.entries[0]['group_id']}/people/reset/${entryId}`).then(response => {
        this.$buefy.toast.open({
          message: response.data.message,
          type: response.data.status === 'success' ? 'is-success' : 'is-danger'
        });
      });
    }
  }
};
</script>
