<!--
  Settings.vue
  Set settings for the group
  -->
<template>
  <div class="modal-card" style="min-width: 250px">
    <header class="modal-card-head">
      <p class="modal-card-title">Secret Santa Settings</p>
    </header>
    <section class="modal-card-body">
      <b-field label="Description">
        <b-input type="textarea" maxlength="500" v-model="description"
                 placeholder="Add some text for people to read when they join"/>
      </b-field>
      <b-field label="Require addresses">
        <b-checkbox v-model="requireAddress"/>
        <p>If you are not meeting in person to exchange gifts, require people to provide their delivery address when
          entering.</p>
      </b-field>
    </section>
    <footer class="modal-card-foot">
      <button class="button" type="button" @click="$parent.close()">Close</button>
      <button class="button is-success" @click="submit">Save</button>
    </footer>
  </div>
</template>

<script>
export default {
  name: "Settings",

  props: {
    group: {
      type: Object,
      default: () => {
        return {}
      }
    }
  },

  data() {
    return {
      description: '',
      requireAddress: false
    }
  },

  methods: {
    submit() {
      this.$http.post(`group/${this.group.id}`, {description: this.description, require_address: this.requireAddress}).then(response => {
        let isSuccess = response.data.status === 'success';
        this.$buefy.toast.open({
          message: response.data.message,
          type: isSuccess ? 'is-success' : 'is-danger'
        });

        if (isSuccess) {
          this.$parent.close();
        }
      });
    }
  }
};
</script>
