<!--
  App.vue
  The main app
  -->
<template>
  <div id="app">
    <b-navbar>
      <template slot="brand">
        <b-navbar-item tag="router-link" :to="{ path: '/' }">
          <strong class="has-text-white">Santa</strong>
        </b-navbar-item>
      </template>
      <template slot="start">
        <b-navbar-item tag="router-link" :to="{ name: 'Home' }" class="has-text-white">Home</b-navbar-item>
        <b-navbar-item tag="router-link" :to="{ name: 'Santa' }" class="has-text-white">Santa</b-navbar-item>
      </template>

      <template slot="end">
        <b-navbar-item tag="div" class="has-text-white" v-if="$store.state.isLoggedIn">
          <span>{{ $store.state.user.name }}</span>
        </b-navbar-item>
        <b-navbar-item tag="div" class="has-text-white">
          <div class="buttons">
            <b-button type="is-light" @click="showLogin" v-if="!$store.state.isLoggedIn">Log in</b-button>
            <div v-else>
              <a class="button is-light" @click="logout">Log Out</a>
            </div>
          </div>
        </b-navbar-item>
      </template>
    </b-navbar>
    <div class="container" v-if="$router.history.current.meta.requireLoggedIn && !$store.state.isLoggedIn">
      <b-message type="is-danger" has-icon>
        You need to be logged in to see that
      </b-message>
    </div>
    <router-view v-else/>
  </div>
</template>

<script>
import LoginVue from './components/auth/Login.vue';
import axios from 'axios';
import EventBus from "@/js/EventBus";

export default {
  name: 'App',

  mounted() {
    // Check if the user is logged in
    let token = document.cookie.replace(/(?:(?:^|.*;\s*)token\s*=\s*([^;]*).*$)|^.*$/, "$1");
    if (token.length > 0) {
      this.handleLogin(token);
    }

    EventBus.$on('show-login', this.showLogin);
  },

  methods: {
    handleLogin(token) {
      this.$store.state.token = token;
      axios.defaults.headers.common['Authorization'] = token;

      this.$http.get('user').then(response => {
        this.$store.state.user = response.data.data;
        this.$store.state.isLoggedIn = true;
        this.$buefy.toast.open({
          message: 'You are logged in!',
          type: 'is-success'
        });

        this.$router.push({name: 'Santa'});
      });
    },

    showLogin() {
      let _this = this;
      this.$buefy.modal.open({
        parent: this,
        component: LoginVue,
        hasModalCard: true,
        events: {
          success(token) {
            _this.handleLogin(token);
          }
        }
      });
    },

    logout() {
      document.cookie = "token=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
      this.$store.state.token = "";
      this.$store.state.isLoggedIn = false;
      this.$store.state.user = {};
      this.$router.push('/');
    }
  }
}
</script>

<style>
html {
  background: url('~@/assets/back.jpg') no-repeat center center fixed;
  background-size: cover;
  background-position-x: 70%;
}

nav.navbar {
  background: transparent;
}
</style>
