<!--
  JoinGroup.vue
  Modal for registering to the system/joining a group
  -->
<template>
  <div class="modal-card" style="min-width: 250px">
    <header class="modal-card-head">
      <p class="modal-card-title">Join Group</p>
    </header>
    <section class="modal-card-body">
      <b-field label="Your Name">
        <b-input type="text" v-model="name" placeholder="e.g. Bob Smith" required/>
      </b-field>
      <b-field label="Your Email">
        <b-input type="email" v-model="email" placeholder="e.g. bob.smith@myemail.com" required/>
      </b-field>
      <b-field label="Your Password">
        <b-input type="password" v-model="password" required/>
      </b-field>
    </section>
    <footer class="modal-card-foot">
      <button class="button" type="button" @click="$parent.close()">Close</button>
      <button class="button is-primary" @click="submit">Join</button>
    </footer>
  </div>
</template>

<script>
export default {
  name: "JoinGroup",

  data() {
    return {
      name: '',
      email: '',
      password: ''
    }
  },

  methods: {
    submit() {
      this.$emit('submit', {name: this.name, email: this.email, password: this.password});
      this.$parent.close();
    }
  }
};
</script>
