<!--
  Login.vue
  A modal to log into the system
  -->
<template>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Log In</p>
    </header>
    <section class="modal-card-body">
      <b-message :type="message.ok ? 'is-success' : 'is-danger'" v-if="message.text.length > 0" has-icon
                 icon-size="is-medium">
        {{ message.text }}
      </b-message>
      <b-field label="Email">
        <b-input type="email" v-model="fields.email"></b-input>
      </b-field>
      <b-field label="Password">
        <b-input type="password" v-model="fields.password"></b-input>
      </b-field>
    </section>
    <footer class="modal-card-foot">
      <button class="button" type="button" @click="$parent.close()">Close</button>
      <button class="button is-primary" @click="login">Log In</button>
    </footer>
  </div>
</template>

<script>
export default {
  name: "Login",

  data() {
    return {
      fields: {
        email: '',
        password: ''
      },

      message: {
        text: '',
        ok: false
      }
    };
  },

  methods: {
    login() {
      this.$http.post(`/login`, this.fields).then(response => {
        this.message.ok = response.data.status === "success";
        this.message.text = response.data.message;

        if (this.message.ok) {
          let token = response.data.token;
          this.$emit('success', token);
          this.$parent.close();
        }
      });
    }
  }
};
</script>